h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand',sans-serif;
}
p, div {
  font-family: 'Quicksand', sans-serif;
}


.site-wrapper:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("../images/eiffel-tower.jpg");
  display: block;
  background-size: cover;
  width: 105%;
  height: 105%;

  filter: greyscale(.5);

/*  linear-gradient: rgba(0.,0,0,0.7) rgba(0,0,0,0.7);
*/
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}


.cover-text {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-style: italic;
}

.speaker {
  font-size: 24px;
  font-weight: 500;
}

.section-padding {
  padding: 100px 0px;
}

.solid-background {
  background: rgba(102, 127, 153, .9);
}

.add-height {
  height: 200px;
}

.cover-block {
  margin: 25% auto;
}

.quote-block {
  height: 200px;
}

.quote-toggle {
  background: rgba(102, 127, 153, .1);
  height: 40px;
  width: 100px;
  margin: 0 auto;
}

.quote-toggle:hover {
  background: rgba(102, 127, 153, .5);
  cursor: pointer;
}

.quote-toggle:active {
  background: rgba(102, 127, 153, .2);
}


.contact-card {
  text-align: left;
  padding: 0px 100px;
}
