h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand',sans-serif;
}
p, div {
	font-family: 'Quicksand', sans-serif;
}

.eiffel-tower {
	background-image: url("../images/eiffel-tower.jpg");
	background-attachment: fixed;
	background-size: cover;
/*	background: radial-gradient(black, rgba(255,255,255,0), url("../images/eiffel-tower.jpg"));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("../images/eiffel-tower.jpg") no-repeat;
	background-size: cover;
*/
}

.cover-heading {
	text-shadow: 1px 1px 0px black; 
}

.solid-background {
	background-color: blue;
}

.add-height {
	height: 800px;
}

.cover-block {
	min-height: 100%;
	margin: 23% auto;
}
